.ve-ui-mwTwoPaneTransclusionDialogLayout {
	&-stackLayout {
		/* We don't want anything to collapse left/right, so shouldn't use margin */
		padding: 0 48px;

		&.oo-ui-stackLayout-continuous > .oo-ui-panelLayout-scrollable {
			// Override from PanelLayout; only the StackLayout must be scrollable
			overflow: hidden;
		}

		> .oo-ui-panelLayout {
			width: 100%;
			box-sizing: border-box;
			margin: 48px 0 20px 0;

			&:last-child {
				margin-bottom: 48px;
			}
		}
	}

	> .oo-ui-menuLayout-menu {
		width: 240px;
		// @border-dialog-bar
		border-right: 1px solid #c8ccd1;
	}

	> .oo-ui-menuLayout-content {
		left: 240px;
	}
}
