# Editors
*~
*.kate-swp
.*.swp
sublime-*
.project
.settings
\#*#
.#*
/.idea

# Install and build artifacts
/docs
node_modules
composer.lock
vendor
screenshots/*.png
.eslintcache
tests/selenium/log

# OS
.DS_Store
/.stylelintcache
