/*!
 * VisualEditor ContentEditable MWLanguageVariantNode styles.
 *
 * @copyright 2011-2018 VisualEditor Team and others; see http://ve.mit-license.org
 */

/* This is just for the icon label text */
.ve-ce-mwLanguageVariantNode > .ve-ce-focusableNode-invisibleIcon.oo-ui-iconWidget.oo-ui-iconElement {
	font-size: 0.8125em;
	width: auto;
}

.ve-ce-mwLanguageVariantNode.ve-ce-focusableNode-invisible {
	width: auto;
}

.ve-ce-mwLanguageVariantNode > .ve-ce-focusableNode-invisibleIcon.oo-ui-iconWidget.oo-ui-iconElement .oo-ui-labelElement-label {
	margin-left: 0;
	margin-right: 0.25em;
}

/* This keeps the icon small (regardless of label height) */
.ve-ce-mwLanguageVariantNode > .ve-ce-focusableNode-invisibleIcon.oo-ui-iconWidget.oo-ui-iconElement .oo-ui-iconElement-icon {
	height: auto;
}
