/*!
 * VisualEditor Apex theme customizations.
 *
 * @copyright 2011-2018 VisualEditor Team and others; see http://ve.mit-license.org
 */

/* ve.ui.MWSaveDialog summary */

.ve-ui-mwSaveDialog-summary textarea {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.ve-ui-mwSaveDialog-options {
	border-bottom-right-radius: 0.25em;
	border-bottom-left-radius: 0.25em;
}

.ve-ui-mwTransclusionDialog-addParameterFieldset .ve-ui-mwParameterSearchWidget {
	box-shadow: 0 0 0.5em rgba( 0, 0, 0, 0.2 );
}
