/* Force hasLayout so the <sup>'s box gets measured correctly */
.ve-ce-mwReferenceNode {
	display: inline-block;
}

/* Undo overflow: hidden; from MW CSS to work around hasLayout issue */
.ve-ce-surface h1,
.ve-ce-surface h2,
.ve-ce-surface h3,
.ve-ce-surface h4,
.ve-ce-surface h5,
.ve-ce-surface h6 {
	overflow: visible;
}

/* Set opacity directly on the highlights, rather than their containers,
   otherwise the opacity isn't applied at all */
.ve-ce-surface-highlights-focused .ve-ce-focusableNode-highlight {
	opacity: 0.5;
}

.ve-ce-surface-highlights-blurred .ve-ce-focusableNode-highlight {
	opacity: 0.15;
}

/* Don't apply a background color to language annotations, otherwise the
   text disappears if the span has dir="rtl" */
.ve-ce-languageAnnotation {
	background: none;
}
